/* src/components/Login/styles.css */

body {
  font-family: 'Open Sans', sans-serif; /* Cambiado a Open Sans según la biblia */
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.login-form {
  background: #ffffff;
  padding: 60px; /* Aumentado el padding para más espacio */
  border-radius: 12px; /* Bordes más grandes */
  box-shadow: 0 15px 40px rgba(50, 50, 93, 0.1), 0 8px 20px rgba(0, 0, 0, 0.1); /* Sombra más grande */
  width: 100%;
  max-width: 900px; /* Aumentado el tamaño máximo del formulario para aprovechar más el ancho */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.login-form h1 {
  font-size: 40px; /* Aumentado el tamaño del título */
  font-weight: 700; /* Más peso para el título */
  color: #50B95D; /* Verde más profesional */
  margin-bottom: 40px; /* Más margen debajo del título */
  text-align: center;
}

.input-group {
  margin-bottom: 30px; /* Aumentado el margen entre los campos */
}

.input-group label {
  font-size: 16px; /* Etiquetas más grandes */
  color: #555;
  margin-bottom: 8px; /* Más espacio debajo de las etiquetas */
  display: block;
  font-weight: 500;
}

.input-group input {
  width: 100%; /* Aseguramos que los inputs ocupen todo el ancho disponible */
  padding: 18px; /* Aumentado el padding en los campos */
  font-size: 20px; /* Fuente más grande */
  border: 1px solid #ddd;
  border-radius: 10px; /* Bordes más suaves */
  background-color: #f9f9f9;
  color: #333;
  transition: all 0.3s;
}

.input-group input:focus {
  outline: none;
  border-color: #67C28D;
  box-shadow: 0 0 0 4px rgba(46, 139, 87, 0.2);
  background-color: #fff;
}

.error-message {
  color: #e74c3c;
  font-size: 16px; /* Mensajes un poco más grandes */
  text-align: center;
  margin: 20px 0;
  padding: 16px;
  background-color: rgba(231, 76, 60, 0.1);
  border-radius: 10px;
}

.login-btn {
  height: 5%;
  width: 100%;
  padding: 20px; /* Botón más grande */
  font-size: 15px; /* Fuente más grande en el botón */
  font-weight: 700;
  background-color: #50B95D;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-btn:hover {
  background-color: #45a56f; /* Verde más oscuro */
}

.login-btn:disabled {
  background-color: #d3d3d3;
  cursor: not-allowed;
}

@media (max-width: 480px) {
  .login-form {
    padding: 40px; /* Aumento de padding en dispositivos pequeños */
  }

  .login-form h1 {
    font-size: 32px; /* Título más grande en pantallas pequeñas */
  }

  .input-group input {
    font-size: 16px; /* Fuente más grande en dispositivos pequeños */
  }

  .login-btn {
    padding: 18px; /* Botón más grande en dispositivos pequeños */
    font-size: 16px; /* Fuente más grande en el botón */
  }
  
}



